@import 'reset.css';

body {
  font-family: 'Montserrat Regular';
  color: #efefef;
}

html, body, #__next {
  height:100%;
  width:100%;
  background-color:#efefef;
}

/* scroll */
::-webkit-scrollbar-track {
  background-color: #f9fafe;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f9fafe;
}

::-webkit-scrollbar-thumb {
  background-color: #e9f5ff;
}
